body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #337ab7;
  color: #fdffff;
  border-style: none;
}
input {
  height: 26px;
}